.box {
  border: 5px solid black;
  width: 50%;
  float: left;
  display: flex;
  overflow: scroll;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 420px;
  width: 360px;
}
.img__img {
  height: 420px;
  width: 360px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(3, 4, 7, 0.86);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.box::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
